main {
  padding-top:1em;
}
#allPosts.container div:nth-of-type(n) {
  border-left:1px solid lightslategray;
  margin-top: 25px;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
}
#modalForm {
  background-color: #CFD8DC;
  padding: 2em;
  border-radius:5px;
  max-width:400px;
  margin: auto;
}
.navbar {
  padding-left:1em;
  padding-right:1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom:1px solid lightgray;
  align-items: stretch;
  display: flex;
}
/* .navbar-brand {
  float:left;
}*/
.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  align-items: stretch;
  display: flex;
} 
.navbar-item {
  display: flex;
  align-items: center;
}
#navButtons i {
  vertical-align: middle;
}
#navButtons a {
  padding-bottom:0.5rem;
}

.fixedBottom {
  text-align: center !important;
  position: fixed !important;
  bottom: 0;
  width: 100%;
}
#paginationBtn, #createPostBtn {
  display:flex;
  margin: auto;
}

.input {
  max-width:250px;
  display: block;
}
.updateBtn {
  margin-top:1em;
}
@media screen and (max-width:420px) {
  .navbar-brand a{
    font-size:1.3em !important;
  }
  .navbar {
    padding-left:0.3em;
    padding-right:0.3em;
  }
}